Repository googleapis/nodejs-security-center, pull requests merged in 2021-01, with the labels that each got.

#352 docs: update copyright header
  .jsdoc.js
  protos/protos.d.ts
  protos/protos.js
  src/v1/index.ts
  src/v1/security_center_client.ts
  src/v1beta1/index.ts
  src/v1beta1/security_center_client.ts
  src/v1p1beta1/index.ts
  src/v1p1beta1/security_center_client.ts
  synth.metadata
  system-test/fixtures/sample/src/index.js
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
  test/gapic_security_center_v1.ts
  test/gapic_security_center_v1beta1.ts
  test/gapic_security_center_v1p1beta1.ts
Labels: api: securitycenter, cla: yes, context: none

#353 feat: introduces style enumeration
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: securitycenter, cla: yes, context: none

#356 refactor(nodejs): move build cop to flakybot
  .kokoro/system-test.sh
  .kokoro/test.sh
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: securitycenter, automerge, cla: yes, context: full

#348 docs: Wrap samples with future prefix
  samples/v1/addDeleteSecurityMarks.js
  samples/v1/addFindingSecurityMarks.js
  samples/v1/addSecurityMarks.js
  samples/v1/createFinding.js
  samples/v1/createFindingSourceProperties.js
  samples/v1/createNotificationConfig.js
  samples/v1/createSource.js
  samples/v1/deleteNotificationConfig.js
  samples/v1/deleteSecurityMarks.js
  samples/v1/enableAssetDiscovery.js
  samples/v1/getNotificationConfig.js
  samples/v1/getOrganizationSettings.js
  samples/v1/getSource.js
  samples/v1/getSourceIam.js
  samples/v1/listAllAssets.js
  samples/v1/listAllFindings.js
  samples/v1/listAllSources.js
  samples/v1/listAssetsAndChanges.js
  samples/v1/listAssetsAtTime.js
  samples/v1/listAssetsWithSecurityMarks.js
  samples/v1/listFilteredAssets.js
  samples/v1/listFilteredFindings.js
  samples/v1/listFindingsAtTime.js
  samples/v1/listFindingsWithSecurityMarks.js
  samples/v1/listNotificationConfigs.js
  samples/v1/receiveNotifications.js
  samples/v1/setFindingState.js
  samples/v1/setSourceIam.js
  samples/v1/testIam.js
  samples/v1/updateFindingSourceProperties.js
  samples/v1/updateNotificationConfig.js
  samples/v1/updateSource.js
Labels: api: securitycenter, cla: yes, samples
